<h3><%= @task.title %></h3>

<ul>
  <li>Description: <%= @task.description %></li>
  <li>Date completed: <%= @task.completed_at %></li>
</ul>

<p>
  <%= link_to "Edit this task!", task_edit_path(@task) %>
</p>
