<h1>Task#show</h1>

<h3><%# @task.id %></h3>
<h3><%= @task.id.to_s + " - " + @task.title %></h3>
<ul>

  <li>Description: <%= @task.description %></li>
  <li>Date completed: <%= @task.completed_at %></li>
</ul>
